.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 36px;
  width: 100%;
}

.title,
.subtitle {
  margin: 0;
}

.allLink,
.link {
  text-decoration: none;
  color: inherit;
}

.catalog {
  display: flex;
  overflow: scroll;
  gap: 8px;
}